{% extends 'base.html' %}
{% block content %}
        <form id="form">
            <input type="text" name="smessage" placeholder="token">
            <input type="submit" value="Submit">
        </form>
        <p>Query result:</p>
        <p id="result"></p>

        <script>
            const form = document.getElementById('form');
            const result_p = document.getElementById('result');
            form.addEventListener('submit', (event) => {
                event.preventDefault();
                const formdata = new FormData(form);
                fetch("/check", {
                    method: "POST",
                    body: formdata
                }).then(response => response.text()).then(text => {
                    result_p.innerText = text;
                });
            })
        </script>
{% endblock %}